.speak-background-image {
  background-image: url("../../assets/island-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
}

.princess-speak-background-image {
  background-image: url("../../assets/princess-bg.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.explore-speak-background-image {
  background-image: url("../../assets/explorer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100% 100%;
}
